:root {
  --main-color: #2785c3;
  --main-color-light: #b9dbea;
  --light-grey: #f4f3f3;
  --white: #ffffff;
  --secondary-color: #3c6e71;
  --grey: #353535;
  --danger: #f62323;
}

html {
  /* 16px / 10 = 0.625 */
  /* 1 rem = 10px */
  font-size: 62.5%;  
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2rem;
}

header h1 {
  margin: 0;
  color: var(--main-color);
}

.nav-container a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #000;
}

.nav-container button {
  font-size: 2rem;
  margin-left: 2rem;
  background-color: transparent;
  border: 0;
  color: #000;
}

.nav-container button:hover {
  cursor: pointer;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: .5rem;
}

footer a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.footer-text {
  border-top: 1px solid var(--secondary-color);
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1.6rem 2rem;
}

/* .exercises-container {
justify-content: space-between;
} */

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 2rem;
}

form.signup, form.login, form.exercises, form.goals {
  background-color: var(--light-grey);
  width: 50rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
}

form.goals {
  width: 19rem;
  padding: 0 6rem;
}

form.exercises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.goals .error {
  margin: 2rem 0;
}

form.exercises {
  width: 30rem;
  margin-top: 2rem;
}

form.exercises h2 {
  margin-top: 2rem;
}

form label {
  display: block;
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

input, button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: .7rem .5rem;
}

input {
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  transition: border 300ms;
}

input:hover {
  border: 1px solid #aaa;
}

form button {
  display: block;
  margin: 2.5rem auto;
  padding: 1.4rem 2rem;
  background-color: var(--main-color);
  color: var(--white);
  border: 0;
  border-radius: 4px;
}

form button:hover {
  cursor: pointer;
}

form h1 {
  margin-bottom: 1rem;
}

.chart-container {
  width: 80rem;
}

.chart-container h1, .chart-container h2 {
  text-align: center;
}

.chart-container h2 {
  margin: 1rem 0 1rem 0;
}

.error {
  color: var(--danger);
  position: relative;
}

.sub-header {
  background-color: var(--main-color-light);
  padding: 1rem 2rem;
}

.table {
  width: 100%;
  max-width: 1000px;
  padding-top: 2rem;
  /* background-color: pink; */
}

.exercises-table, .goals-table {
  width: 70%;
  max-width: 1000px;
  padding-top: 0;
  margin-left: 2rem;
}

.exercises-table h2 {
  margin-right: 2rem;
}

.table-header {
  display: flex;
  align-items: center;
}

.table-header button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  margin-left: 1rem;
  border-radius: 4px;
  padding: 1rem;
  color: var(--main-color);
}

.table-header .button-wrapper {
  position: relative;
}

.table-header button > span {
  padding-right: .5rem;
}

.table-header button:hover {
  cursor: pointer;
}

.table table {
  width: 100%;
  font-size: 1.8rem;
  border-collapse: collapse;
}

.table table th, .table table td {
  padding: 1rem;
}

.table table thead {
  background-color: var(--main-color-light);
}

.table table th {
  text-align: left;
}

td.options, th.options {
  display: table-cell;
  width: 100px;
}

td.options button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  margin-left: 1rem;
}

td.options button:hover {
  cursor: pointer;
}
/* Google Material Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: absolute;
  right: -32rem;
  bottom: 1rem;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--white);
  padding: 1rem 0;
  /* height: 40rem; */
  /* width: 40rem; */
}

.popup form {
  padding: 0 6rem;
}

.popup button {
  margin: 3rem auto;
  background-color: var(--main-color);
  color: #fff; 
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c8c8c8;
}

.close:hover {
  cursor: pointer;
  color: #aaa;
}

.username {
  letter-spacing: .5px;
}

select {
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border-radius: 4px;
}

option {
  background-color: red;
}

.editable-form {
  margin: -2px 0;
  display: flex;
  align-items: center;
}

.editable-input {
  padding: .5rem 0;
  padding-left: 3px;
  margin: 0;
  position: relative;
  left: -4px;
}

.editable-input-select {
  display: flex;
  align-items: center;
}

.editable-input-select label, .editable-input-select label + * {
  display: inline-block;
}

.editable-form-btn {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: .8rem 1rem;
  margin: 0;
  margin-left: 2rem;
  top: 1px;
}

.dot {
  display: flex;
  align-items: center;
}

.time-form-group {
  position: relative;
}

.time-suffix {
  position: absolute;
  left: 4.5rem;
  bottom: .8rem;
  color: #929191;
}

.editable-form .time-form-group {
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.editable-form .time-form-group label {
  display: none;
}

.editable-form .time-suffix {
  left: 4rem;
  bottom: .8rem;
}

.editable-form-last {
  display: flex;
  justify-content: space-between;
}

.chevron-btn {
  border-radius: 50%;
  /* border: 1px solid #222; */
  border: 0;
  box-shadow: 0 0 2px #000;
  color: #222;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.chevron-btn:hover {
  cursor: pointer;
}

.chevron {
  font-size: 4rem;
}

.chart-header {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem 0;
  margin-bottom: 0;
}

.chart-header h1 {
  margin: 0;
}

/* React-select select stuff */
.css-b62m3t-container {
  width: 100%;
}

.goals-container h2 {
  text-align: center;
}

input#time {
  padding-left: 1rem;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: button;
    width: 1em;
    opacity: .8;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.frequency-input {
  width: 10rem;
}

.editable-form-time {
  width: 13rem;
}

a.active {
  color: var(--main-color);
  font-weight: 700;
}